<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h4>Mantenimiento de Clientes</h4>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarCliente"
                    class="btn btn-success">
                Agregar
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRegistroCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mantenimiento de Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
             
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" id="txtNombre" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" id="txtApellido" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>País</label>
                                <input type="text" class="form-control" id="txtPais" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" id="txtCiudad" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" id="txtTelefono" />
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarCliente">Guardar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hidIdCliente" value="-1" />

<div id="divListadoClientes">

</div>

<script>

    $("#divListadoClientes").on('click', '.btnEliminarCliente', function () {
        let vIdCliente = $(this).attr('data-id');

        if (confirm("¿Está seguro de eliminar al cliente?")) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Eliminar","Customer")',
                cache: false,
                data: { idCliente: vIdCliente },
                success: function (exito) {
                    if (exito) {
                        CargarListadoCliente();
                    } else {
                        alert("Ocurrió un problema al eliminar el cliente....");
                    }
                }
            });


        }


    });


    $("#divListadoClientes").on('click', '.btnEditarCliente', function () {
        let vIdCliente = $(this).attr('data-id');
        $("#hidIdCliente").val(vIdCliente);
        let modalRegistro = $("#modalRegistroCliente");

        $.ajax({
            type: "GET",
            url: '@Url.Action("Obtener","Customer")',
            cache: false,
            data: { idCliente: vIdCliente },
            success: function (objCliente) {
                $("#txtNombre").val(objCliente.firstName);
                $("#txtApellido").val(objCliente.lastName);
                $("#txtPais").val(objCliente.country);
                $("#txtCiudad").val(objCliente.city);
                $("#txtTelefono").val(objCliente.phone);
                modalRegistro.modal();
            }
        });
    });

    
    $("#btnAgregarCliente").click(function () {
        $("#modalRegistroCliente").modal();
    });



    $("#btnGuardarCliente").click(function () {
        let vIdCliente = $("#hidIdCliente").val();
        let vNombre = $("#txtNombre").val();
        let vApellido = $("#txtApellido").val();
        let vPais = $("#txtPais").val();
        let vCiudad = $("#txtCiudad").val();
        let vTelefono = $("#txtTelefono").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Grabar","Customer")',
            cache: false,
            data: {
                idCliente: vIdCliente,
                nombre: vNombre,
                apellido: vApellido,
                pais: vPais,
                ciudad: vCiudad,
                telefono: vTelefono
            },
            success: function (exito) {
                if (exito) {
                    alert("Se registró correctamente....");
                    CargarListadoCliente();
                    $("#modalRegistroCliente").modal("toggle");
                } else {
                    alert("A ocurrido un error en la transacción");
                }

            }, error: function () {
                alert("A ocurrido un error en el servidor");
            }
        });




    });




    CargarListadoCliente();
    function CargarListadoCliente() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Listado","Customer")',
            cache: false,
            success: function (dataHTML) {
                $("#divListadoClientes").html(dataHTML);
            }
        });

    }


</script>